{% extends 'publicBase.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="image">
            <img src="/{{ image.src }}">

        </div>


    </div>

{% endblock %}
